In [ ]:
# Problem 1
# In a cricket tournament, based on the outcome of a particular match a team gets following points:

# wins gets 7 points
# draws gets 2 points
# losses gets 0 points
# Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team aravali ?


# a) The outcome variables are defined below?
# b) Calculate the total points gained by Team Aravali and print.

In [1]:
#defined variables
wins_pt=7
draws_pt=2
losses_pt=0
wins=4
draws=1
losses=3

#total points
total_p=(wins*wins_pt)+(losses*losses_pt)+(draws*draws_pt)
print(total_p)

30

In [ ]:
# Problem 2
# Root of a function  f(x)  is defined as the value  x  where  f(x)=0
# Consider a quadratic function  f(x)=x2+3x−4
# Find the value of the function  f(x)  at points  x=7,x=−1,x=1 .
#   a)Calculate the value of the function f(x) at x = 2.
#   b) Calculate the value of the function f(x) at x = 1

In [2]:
def f(x):
    return x**2 + 3*x - 4
x_values = [7, -1, 1, 2, 1]
results = {x: f(x) for x in x_values}
for x, value in results.items():
    print(f"f({x}) = {value}")

f(7) = 66
f(-1) = -6
f(1) = 0
f(2) = 6

In [ ]:
# Problem 3
# A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

# a) A list containing average daily temperature over a week
# temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# b) The expected output



# c)Store the highest temperature


# d) Index of the element with the highest temperature
# max_temp_index =


# e) Store the lowest temperature
# min_temp =

# f) Index of the element with the lowest temperature
# min_temp_index =

In [3]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]#store the temperatures in a list
max_temp=max(temperatures) #store the highest temperature
max_temp_index=temperatures.index(max_temp) #store the index of highest temperature
min_temp=min(temperatures) #store the minimum temperature
min_temp_index=temperatures.index(min_temp) #store the index of minimum temperature
temperatures[max_temp_index],temperatures[min_temp_index]=temperatures[min_temp_index],temperatures[max_temp_index]  #swap maximum and minimum temperatures
print(temperatures) #print the expected output

[34, 40, 42, 33, 29, 37, 39]

In [ ]:
# problem 4

# Calculate the median price

# a) Step 1 - Obtain the sorted list
# b)Check if the number of elements in the list is even or odd
# c)Use the corresponding formula to calculate the median and print the median
# d) Check which is greater, mean or median

In [4]:
list=[]
n=int(input('Number of elements in the list are:'))
for i in range(0,n):
  element=int(input())
  list.append(element)
  list.sort()#a)obtain the sorted list
print(list)
a=len(list)
if a%2==0:
  print('the number of elements in the list are even') # b)Check if the number of elements in the list is even or odd
  median = (list[a // 2 - 1] + list[a // 2]) / 2  # c)Use the corresponding formula to calculate the median
else:
  print('the number of elements in the list are odd')  # b)Check if the number of elements in the list is even or odd
  median = list[a // 2]  # c)Use the corresponding formula to calculate the median and print the median
print(median) #print the median
mean=sum(list)/n
if mean>median:  #d)Check which is greater, mean or median
  print('mean is greater')
else:
  print('median is greater')

Number of elements in the list are:2
50
63
[50, 63]
the number of elements in the list are even
56.5
median is greater

In [ ]:
# Problem 5
# Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector.
#  While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

# a)The list of tech companies curated by the individual
# tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

In [5]:
tech_companies = ['Qualcomm', 'Google', 'Apple', ['Nvidia', 'Cisco', 'Samsung']]
tech_companies1 = tech_companies[:3] + tech_companies[3]
print(tech_companies1)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Problem 6
# Another measure of average
# Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
# You are given a list of numbers and you need to calculate the mode of this list.

#  A list containing average daily temperature over 10 days
# temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [6]:
import statistics
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]
print(statistics.mode(temperatures))

34